@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Alex+Brush&family=Roboto:ital,wght@0,400;1,300&display=swap");

.menu-category-container {
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgb(253, 253, 253);
}

.menu-category-title {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 15px;
  color: #333333;
  text-transform: lowercase;
  font-family: "Abyssinica SIL", serif;
}

.dot-a {
  color: blue;
}

.dot-b {
  color: fuchsia;
}

.dot-c {
  color: green;
}

.category-btn-container {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  background-color: white;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.category-btn {
  font-weight: 600;
  padding: 10px;
  border: none;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s linear;
  cursor: pointer;
}
.category-btn-a,
.category-btn-b,
.category-btn-c,
.category-btn-d {
  color: rgb(3, 3, 93);
}

.category-btn-a {
  background-color: rgb(253, 154, 253);
}

.category-btn-b {
  background-color: rgb(178, 253, 178);
}

.category-btn-c {
  background-color: rgb(247, 204, 174);
}

.category-btn-d {
  background-color: rgb(159, 159, 254);
}

.category-btn:hover {
  background-color: #cecdcd;
}

@media screen and (min-width: 768px) {
  .menu-category-title {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 992px) {
  .menu-category-title {
    font-size: 2rem;
  }
}
