@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Alex+Brush&family=Roboto:ital,wght@0,400;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
}

.page-title_container {
  display: flex;
  justify-content: center;
  background-color: rgb(240, 240, 239);
}

.page-title {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 100%;
  backface-visibility: hidden;
}

.your-food {
  line-height: 1;
  color: #333;
  display: block;
  animation: inFromBottom 2s ease-out;
  font-family: "Alex Brush", cursive;
}

.m,
.e,
.n,
.u {
  font-size: 1.5rem;
}

.m {
  color: rgb(5, 5, 119);
}

.e {
  color: fuchsia;
}

.n {
  color: darkgreen;
}

.u {
  color: chocolate;
}

.menu-texts_container {
  animation: inFromTop 2s ease-out;
}

.menu-texts_container:hover {
  animation: hoverAnime 2s linear;
}

.menu-underline {
  width: 80px;
  height: 6px;
  background-color: aqua;
  border-bottom: 3px solid royalblue;
  display: block;
  margin-top: 1px;
}

/* Animations */
@keyframes inFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  60% {
    transform: translateX(20px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes inFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  60% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes hoverAnime {
  0% {
  }

  100% {
    transform: rotate(320deg);
  }
}

@media screen and (min-width: 768px) {
  .page-title {
    width: 300px;
  }

  .your-food {
    font-size: 3.5rem;
    line-height: 1.3;
  }

  .m,
  .e,
  .n,
  .u {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 992px) {
  .page-title_container {
    justify-content: flex-start;
  }
  .page-title {
    width: 500px;
  }

  .your-food {
    font-size: 3rem;
    line-height: 1;
  }

  .m,
  .e,
  .n,
  .u {
    font-size: 2.5rem;
  }

  .menu-underline {
    margin-top: 10px;
  }
}
